<div class="navbar-lewagon">
  <div class="links d-flex">
    <%= link_to "My lists", lists_path %>
    <%= link_to "New list", new_list_path %>
  </div>
</div>
<div class="banner">
  <h2> Save any kind of movies</h2>
  <p> Classic </p>
</div>
<div class="container">
  <ul> My lists
    <% @lists.each do |list| %>
    <li ><%= link_to list.name, list_path(list) %> </li>
    <% end %>
  </ul>
</div>
