// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

a {
  text-decoration: none;
  color: grey;
  &:hover {
    color:black;
  }
}

.card-category a {
  color: white;

  &:hover {
    color: yellowgreen;
  }
}

.banner {
  background-image: linear-gradient(180deg, rgba(0,0,0,0.7), rgba(0,0,0,0.4)), url('https://res.cloudinary.com/dhoecmw9w/image/upload/v1645186825/dfblkjzuvcn09i7lx7pp.jpg');
  padding: 100px;
  background-repeat: no-repeat;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.container-banner {
  width: 900px;
  margin: 0 auto;
}

.card-category {
  background-size: cover;
  background-position: center;
  position:relative;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-film {
  background-size: cover;
  background-position: center;
  height: 100%;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-film a {
  color: white;
  position: absolute;

  &:hover {
    color: yellowgreen;
  }
}
